<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>
<p>Total amount $<%= @entities.sum(:amount).to_i %></p>
<%= link_to "Back to entities", root_path %>
<div id="entities">
  <% @entities.each do |entity| %>
    <div class="transaction-list">
      <p>
        <%= entity.name %>
      </p>

      <p>
        <strong>Amount:</strong>
        $<%= entity.amount %>
      </p>
    </div>
  <% end %>
</div>
<div class="button-div">
  <%= link_to "add a new transaction", new_group_entity_path %>
</div>
