<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
      <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= group.icon %>
  </p>

   <p>
    <strong>ID:</strong>
    <%= group.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= group.user_id %>
  </p>

  
  <p class="ingredients-total">Total Price: $ <%= group.entities.sum(:amount) %></p>


    <p>
      <%= link_to "Show this transactions", entities_path %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
